<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body table-responsive">
                <div class="row page_top_bar">
                    <div class="col-12">
                        <div class="col-6 heading float-left">
                            <h4 class="mt-0 header-title">
                                <%= title %>
                            </h4>
                        </div>

                    </div>
                </div>


                <table id="responsive-datatable" class="table table-bordered table-bordered dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>Title</th>
                            <th>Slug</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>


                    <tbody>
                       

                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div> <!-- end row -->